/* SECTION General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#containerVue {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #B1B1B1;
}

/* SECTION Background */
.upper-bg {
    background-color: #009688;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
}
.bottom-bg {
    background-color: #DCDBD1;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 200px);
}

/* SECTION Window */
.whatsappWeb-window {
    background-color: white;
    display: flex;
    margin: auto;
    width: 85%;
    height: 95vh;
}
aside { width: 25%; }
main {
    border-left: 1px solid #D6D6D6;
    width: 75%;
}

/* SECTION aside */

/* User SECTION */
.user {
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
}
.user-pic {
    width: 12.5%;
    border-radius: 50%;
    margin: 0 0.6em;
}
.user-name {
    width: 62.5%;
    font-size: 0.95em;
    margin-right: 0.6em;
}
.stati-wa { width: 8.3%; }
.new-chat { width: 8.3%; }
.options { width: 8%; }

.fa-circle-notch:before,
.fa-comment-alt:before,
.fa-ellipsis-v:before {
    margin-right: 0.6em;
    font-size: 1.3em;
}

/* Toggle Notification Banner SECTION */
.reminder-banner {
    background-color: #8EDAFC;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 65px;
    padding-left: 0.8em;
}
.notify-opts {
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}
.fa-bell-slash:before {
    color: #8EDAFC;
    font-size: 1.3em;
}
.notify-texts { padding-left: 0.6em; }
.info-notif { font-size: 0.9em; }
.toggle-notif {
    text-decoration: underline;
    color: #4F7485;
}


.search-aside {
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42px;
}
.search-aside-contacts {
    background-color: #FFFFFF;
    display: flex;
    width: 90%;
    height: 30px;
}
.search-aside-contacts:focus-within {
    border: 1px solid #F5F5F5;
}

.search {
    background-color: #FFFFFF;
    border: none;
    padding-left: 0.8em;
}

.input-search {
    border-style: none;
    outline: none;
    padding-left: 0.8em;
    width: 100%;
}