/* SECTION General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#containerVue {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #B1B1B1;
}

/* SECTION Background */
.upper-bg {
    background-color: #009688;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
}
.bottom-bg {
    background-color: #DCDBD1;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 200px);
}

/* SECTION Window */
.whatsappWeb-window {
    background-color: white;
    display: flex;
    margin: auto;
    width: 85%;
    height: 95vh;
}
aside { width: 25%; }
main {
    border-left: 1px solid #D6D6D6;
    width: 75%;
}

/* SECTION aside */
/* User SECTION */
.user {
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
}
.user-pic {
    width: 12.5%;
    border-radius: 50%;
    margin: 0 0.6em;
}
.user-name {
    width: 62.5%;
    font-size: 0.95em;
    margin-right: 0.6em;
}
.stati-wa { width: 8.3%; }
.new-chat { width: 8.3%; }
.options { width: 8%; }

.fa-circle-notch:before,
.fa-comment-alt:before,
.fa-ellipsis-v:before {
    margin-right: 0.6em;
    font-size: 1.3em;
}

